body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/062/040/original/360_F_520061593_ukrjpBJmXxRHy3GWjErO7joryhmYearx.jpg?1673280602");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
